<div class="banner p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h1>'<%= @list.name.capitalize %>' list</h1>
      <%= link_to "Back", root_path, class: "align-baseline btn btn-secondary rounded-pill mb-3" %>
    </div>
  </div>

  <div class=" p-5">
    <div class="row mt-5">
      <div class="col-sm-6 mx-auto">
        <div class="card p-3">
          <div class="card-body">
            <%= render "/bookmarks/form", list: @list, bookmark: @bookmark %>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <% if @list.bookmarks.count.positive? %>
        <% @list.bookmarks.each do |bookmark| %>
            <div class="col-sm-3">
              <div class="card my-3" style="width: 18rem;">
                <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="poster">
                  <div class="card-body">
                    <h5 class="card-title"><%= bookmark.movie.title %></h5>
                    <p class="card-text"><%= bookmark.movie.overview %></p>
                    <%= link_to '<i data-feather="trash-2"></i>'.html_safe, bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "align-baseline btn btn-danger rounded-pill"%>
                  </div>
              </div>
            </div>
        <% end %>
      <% else %>
        <h2 class="text-center">No bookmarked movies!</h2>
      <% end %>
    </div>

    <% if @list.bookmarks.count.positive? %>
      <div class="d-flex justify-content-center align-items-center">
      <%= link_to "Back to top", "#", class: "flex-fill align-baseline btn btn-info rounded-pill m-3 mt-5" %>
    </div>
      <div class="d-flex justify-content-center align-items-center">
        <%= link_to "Delete list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "align-baseline btn btn-warning rounded-pill m-3 mt-5" %>
      </div>
    <% else %>
    <% end %>
  </div>
</div>
