<div class="border p-5">

  <div class="d-flex justify-content-between">
    <h1><%= @list.name.capitalize %></h1>
    <%= link_to "Back", lists_path, class: "align-baseline btn btn-secondary rounded-pill mb-3" %>
  </div>

    <ul class="list-group">
      <% @list.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <div style='background-image: url(<%= bookmark.movie.poster_url %>); background-size: cover; height: 250px'>
          </div>
        </li>
      <% end %>
    </ul>

    <%= link_to "Bookmarked in this list", list_bookmarks_path(@list), class: "align-baseline btn btn-secondary rounded-pill mb-3" %>

    <%= link_to "New movie", new_list_bookmark_path(@list), class: "align-baseline btn btn-secondary rounded-pill mb-3" %>

</div>
